body{
    display: flex;
    justify-content: center;
    background: burlywood;
}

main{
    background-color: cornflowerblue;
    width: 500px;
    padding: 10px;
}

.delete-btn {
    cursor: pointer;
    font-size: 14px;
    color: red;
    position: relative;
    top: -3px;
    right: 10px;
}

.delete-btn:hover {
    color: darkred;
}

.spell{
    width: 10%;
    border-radius: 5px;
    margin: 0 2px 0 2px;
}
#passive{
    margin-right: 25px;
}

table{
    margin-left: 5px;
}

td > img{
    border-radius: 2px;
    margin-left: 2px;
}

#stuff  td  img{
    border-radius: 5px;
    width: 50%;
}

#spellDiv{
    display: flex;
    align-items: baseline;
}

#graph1{
    width: 200px!important;
    height: 200px!important;
}